<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resumen - Currículum Vitae</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

	<!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Habilidades de Programación</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h4><span class="fa fa-briefcase"></span> Programas Manejados</h4>
                <p>Microsoft Office, Visual Studio, NeatBeans, Eclipse,Anaconda, entre otros.</p>
	    </li>
	    <li>
                <h4><span class="fa fa-briefcase"></span> Sistemas Operativos</h4>
                <p>Linux, Windows.</p>
	    </li>
	    <li>
		<h4><span class="fa fa-briefcase"></span> Lenguajes de Programación</h4>
                <p>C#, Java, Python, R, C, C++, PHP, Javascript.</p>
	    </li>
	    <li>
                <h4><span class="fa fa-briefcase"></span> Bases de Datos</h4>
                <p>SQL, MySQL, SQLite, Data Warehouse.</p>
	    </li>
	    <li>
                <h4><span class="fa fa-briefcase"></span> Otros Conocimientos</h4>
                <p>.Net Framework, .Net Core, ADO .Net, Entity Framework, Laravel, Django, MVC, HTML, CSS, Bootstrap, Angular, Vuejs, Patrones de Diseño, Web Services(Manejo de APIS), Inteligencia Artificial(Machine Learning, Deep Learning), IoT, Cloud Computing.</p>
	    </li>
        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Idiomas</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <p>Español: Natal</p>
                <p>Inglés: Medio</p>
           </li>
        </ul>
        <!-- /.attributes -->
        <br>          
    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experiencia Laboral</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5><span class="fa fa-briefcase"></span> Desarrollador de software</h5>
                <h6><span class="duration"><i class="fa fa-calendar color"></i> 09/2017 – 07/2018</span></h6>
                <h6>Empresa Tabaco Torcido Villa Clara, Cuba</h6>
                <p>Especialista B en Ciencias Informáticas, Dirección de Planeación Informática y Control.</p>
		<p>Tareas Realizadas: Desarrollo de Sistema de Gestión de Recursos Humanos (Relacionado con gestión del personal de la empresa, salarios, facturación, reportes, entre otros).</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Formación Académica</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5><span class="fa fa-book"></span> Máster en Ciencias de la Computación</h5>
                <h6><span class="duration"><i class="fa fa-calendar color"></i> 08/2018 - Actualidad</span></h6>
                <h6>Instituto Tecnológico de Hermosillo, México</h6>
            </li>
            <li>
                <h5><span class="fa fa-book"></span> Licenciado en Ciencias de la Computación</h5>
                <h6><span class="duration"><i class="fa fa-calendar color"></i> 09/2012 – 07/2017</span></h6>
                <h6>Universidad Central “Marta Abreu” de las Villas, Cuba</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
</div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<div class="row">
	<div class="col-md-12">   
		<!-- .title_content -->
		<div class="title_content" style="margin-bottom:5px">
		    <div class="text_content">Formación Complementaria</div>
		    <div class="clear"></div>
		</div>
		<!-- /.title_content -->

		<!-- .attributes -->
		<ul class="attributes">
		    <li class="first">
			<h5><span class="duration"><i class="fa fa-calendar color"></i> Abril/2018</span></h5>
			<p>Curso de Posgrado de “Matemática Computacional”</p>
			<p>Universidad Central “Marta Abreu” de las Villas, Cuba.</p>
		    </li>
		    <li>
			<h5><span class="duration"><i class="fa fa-calendar color"></i> Noviembre/2017</span></h5>
			<p>Curso de Posgrado de “Sistemas de Bases de Datos Avanzado”</p> 
			<p>Universidad Central “Marta Abreu” de las Villas, Cuba.</p>
		    </li>
		    <li>
			<h5><span class="duration"><i class="fa fa-calendar color"></i> Octubre/2017</span></h5>
			<p>Curso de Posgrado de “Sistemas Neuroborrosos”</p>
			<p>Universidad Central “Marta Abreu” de las Villas, Cuba.</p>
		    </li>
		    <li>
			<h5><span class="duration"><i class="fa fa-calendar color"></i> Septiembre/2017 – Febrero/2018</span></h5>
			<p>Curso de Inglés Avanzado</p>
			<p>Obispado Villa Clara, Cuba.</p>
		    </li>
		    <li>
			<h5><span class="duration"><i class="fa fa-calendar color"></i> Enero/2016 – Mayo/2017</span></h5>
			<p>Desarrollo de Repositorio de Servicios Web para la UCLV</p> 
			<p>Universidad Central “Marta Abreu” de las Villas, Cuba.</p>
			<p>Desarrollado del repositorio de servicios web como parte de mi tesis final de licenciatura.</p>
		    </li>
		    <li>
			<h5><span class="duration"><i class="fa fa-calendar color"></i> Enero/2015</span></h5>
			<p>Desarrollo de Proyecto Web para la Empresa Eléctrica</p>
			<p>Empresa Eléctrica de Sancti Spíritus, Cuba.</p>
			<p>Desarrollado del sitio de gestión web de la empresa como parte de mi práctica profesional.</p>
		    </li>
		</ul>
		<!-- /.attributes -->
		<br>    
     <!-- /.resume-right -->
	</div>
</div>
	
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
 <!--
<div class="reference clearfix"> 
            
        
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>        

        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div>
-->

</div>
     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
